@font-face {
    font-family: 'OmahaDings' ;
    src: url('OmahaDings/Omahadin.ttf') format('truetype');
    font-family: 'Couture';
    src: url('COUTURE/COUTURE-Bold.ttf') format('truetype');
    font-family: 'Code';
    src: url(fonts/Code_Bold/CODE_Bold.otf) format('truetype');
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    
    background-color: floralwhite;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0; 
    overflow: hidden;
}


.image-container {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh; 
    width: 100%; 
    overflow-y: auto; 
    padding: 10px 0; 
    box-sizing: border-box; 
    overflow-y: scroll; 
    scroll-snap-type: y mandatory; 
}


.image-container img {
    flex: 0 0 calc(100% / 6); 
    max-width: 50vh; 
    height: auto; 
   
    margin: 30vh 0; 
    object-fit: cover; 
    transition: transform 0.3s ease; 

    border: 5px solid floralwhite; 
    scroll-snap-align: center;

}

.item-container{
    position: relative;
}

.item-container:hover img {
    transform: scale(1.75);
}

.image-hover {
   transform: scale(1.75);
}


.hover-info {
    position: absolute;
    left: 150%;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: black;
    padding: 20px 25px; 
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    max-width: 50vw; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    white-space: normal; 
  }
  
  .hover-info p, .hover-info h3 {
    line-height: 1.3; 
    margin: 5px 0; 
  }
  
  .hover-info h3 {
    margin: 0 0 5px 0;
  }
  
  .hover-info p {
    margin: 8px 0;
  }
  
  .hover-info hr {
    border: none;
    border-top: 1px solid black;
    margin: 5px 0;
  }
  
  .item-container:hover .hover-info {
    opacity: 1;
  }
  
  @media (max-width: 768px) {
    .hover-info {
      max-width: 80vw; 
    }
  }

.fitting{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  grid-template-rows: repeat(2, auto);   
  gap: 8vh 5vw;                          
  margin: 10vh auto;                      
  justify-content: center;
  justify-items: center;   
  width: fit-content;
}


button {
    background-color: transparent;
    color: #1c4205;
    padding: 20px 32px;      
    width: 100%;
    max-width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.3s ease;
    box-sizing: border-box;
    border: none;
}


button:hover {
    background-color: transparent;   
    color: #d44b28;                  
    border-color: transparent;       
}

.button-hover{
    position: relative;
    text-align: center;
}

.hover-image{
    position: absolute;
    top: -12px;
    left: 90%;
    transform: translateX(-40%);
    width: 45vw;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;

}

.hover-image1{
    position: absolute;
    bottom: -250%;
    left: 50%;
    transform: translateX(-55%);
    width: 35vw;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 10;

}

.hover-image2{
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(5%);
    width: 22vw;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 10;

}

.button-hover:hover .hover-image1 {
    opacity: 1;
}
.button-hover:hover .hover-image2 {
    opacity: 1;
}
.button-hover:hover .hover-image {
    opacity: 1;
}

.hover-text {
    position: absolute;
    top: -3rem;
    left: 47%;
    transform: translateX(-50%);
    font-size: 28px;
    color: #d44b28;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .hover-text1 {
    position: absolute;
    top: -3rem;
    left: 45%;
    transform: translateX(-50%);
    font-size: 28px;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .hover-text2 {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(5%);
    font-size: 28px;
    color: #d44b28;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .hover-text3 {
    position: absolute;
    bottom: -50%;
    left: -100%;
    transform: translateX(5%);
    font-size: 28px;
    color: #d44b28;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .hover-text4 {
    position: absolute;
    bottom: -50%;
    left: 70%;
    transform: translateX(5%);
    font-size: 28px;
    color: #d44b28;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 0;
    transition: opacity 0.3s ease;
  }


  .button-hover:hover .hover-text {
    opacity: 1;
  }
  .button-hover:hover .hover-text1 {
    opacity: 1;
  }
  .button-hover:hover .hover-text2 {
    opacity: 1;
  }
  .button-hover:hover .hover-text3 {
    opacity: 1;
  }
  .button-hover:hover .hover-text4 {
    opacity: 1;
  }

.logo {
    position: fixed; 
    top: 5vh; 
    left: 5vh; 
    width: 15vh; 
    height: auto; 
    z-index: 1000; 
}

.logo1 {
    width: 15vw;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

.logo2 {
    position: fixed; 
    top: 5vh; 
    left: 5vh; 
    width: 15vh; 
    height: auto; 
    z-index: 1000; 
}

.logo-container {
    display: flex;
    gap: 6rem;
    padding: 0 5vw;
  }

a {
    text-decoration: none; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-style: normal;
    font-weight: bold;
}

